.HOMEMODE_pointer {
	cursor: pointer;
}

.HOMEMODE_info {
	display: none;
}

.HOMEMODE_tar {
	text-align: right;
}

.HOMEMODE_infopanel {
	min-height: 30px;
	max-width: 480px;
	padding: 3px 10px;
}

.HOMEMODE_klapp {
	margin: 10px 0;
}

.HOMEMODE_klapptable {
	display: none;
}